@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 11% 13%;
    --foreground: 0 0% 98%;
    --card: 250 11% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 250 11% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 254 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 77% 60%;
    --secondary-foreground: 0 0% 100%;
    --muted: 250 11% 20%;
    --muted-foreground: 250 5% 70%;
    --accent: 254 60% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 11% 20%;
    --input: 250 11% 20%;
    --ring: 254 60% 50%;
    --chart-1: 254 60% 50%;
    --chart-2: 214 77% 60%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 250 11% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 254 60% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 250 11% 18%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 250 11% 15%;
    --sidebar-ring: 254 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}

.glass-panel {
  @apply bg-card/50 backdrop-blur-md border border-white/5;
}

.accent-gradient {
  @apply bg-gradient-to-br from-primary to-secondary;
}